.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.header-title {
  text-align: center;
  
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
  justify-content: center;
}

.main {
  text-align: center;
}
